/* FONTS */

@font-face {
    font-family: CallingHeart;
    src: url(../font/CallingHeart.ttf);
}

/* VARIOUS EFFECTS */

.img_hover {
    transition: all .2s ease-in-out; 
}

.img_hover:hover {
    transform: scale(1.1); 
}

::selection {
    color: #fff;
    background: #ff0000;
  }

/* MAIN CSS */

:root {
    --900: #1F2933;
    --800: #323F4B;
    --700: #3E4C59;
    --600: #52606D;
    --500: #616E7C;
    --200: #CBD2D9;
    --text: #fff;
}

.dark-theme {
    --900: #ABD3FB;
    --800: #8ABEEE;
    --700: #79B1E5;
    --600: #659DD1;
    --text: #0E2A46;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--800);
    width: 100%;
}

h2 {
    font-family: Poppins, sans-serif;
    color: var(--text);
    font-size: 36px;
}

h3 {
    font-family: Poppins, sans-serif;
    color: var(--text);
    font-size: 30px;
}

p {
    font-family: Archivo, sans-serif;
    color: var(--text);
    font-size: 26px;
}

/* Theme Icon */

#theme-icon {
    position:fixed;
    align-self: left;
    right:0;
    top:0;
    margin: 20px 20px 0px 0px;
    height: 48px;
    box-shadow: 0px 0px 11px 4px #41484E;
    cursor: pointer;
}