/* ===========================================
  Imports
  =========================================== */

  @import "common/header.css";
  @import "common/footer.css";
  @import "common/theme.css";

/* ===========================================
  Tagline
  =========================================== */

.tagline-banner {
    height: 800px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-image: url(../img/home/cubes.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
}

.tagline {
    width: 1000px;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Secular One', sans-serif;
    color: #007AFF;
    background-image: -webkit-linear-gradient(0deg, #007AFF 0%,#00CCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  
}

/* ===========================================
  Sub banners
  =========================================== */

.sub-img {
  image-rendering : pixelated;
}

.sub-banner {
  display: flex;
  flex-flow: row nowrap;
  color: var(--text);
  height: 600px;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.sub-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 60px;
}

.sub-title {
  font-size: 45px;
  margin-bottom: 10px;
}

.sub-text {
  overflow-wrap: break-word;
  inline-size: 375px;
  font-size: 25px;
}

/* ===========================================
  individual sub banner style
  =========================================== */

.mix-banner {
  background-color: var(--dark);
}

.ez-title {
 text-align: right;
}

.ez-text {
  text-align: right;
  inline-size: 300px;
 }