/* ===========================================
  Imports
  =========================================== */

  @import "common/header.css";
  @import "common/footer.css";
  @import "common/theme.css";

/* ===========================================
  Title
  =========================================== */

  .title-banner {
    padding-top: 60px;
    height: 240px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    animation: transitionIn 1s;
}

.title {
  animation: transitionIn 0.5s;
    width: 60%;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Secular One', sans-serif;
    background: #CF00B3;
    background: linear-gradient(to bottom right, #CF00B3 0%, #CF95B4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

/* ===========================================
 Main body wrapper
 =========================================== */
.main-wrapper {
  margin: 0 auto;
  background-color: var(--light);
  width: 60%;
  padding: 30px 50px;
  border-radius: 20px;
  margin-bottom: 200px;
}

/* ===========================================
 text
 =========================================== */

p {
  font-size: 20px;
  max-width: 800px;
}

h3 {
  font-size: 35px;
  font-family: Poppins, sans-serif;
  color: var(--text);
  font-weight: 500;
  padding-bottom: 1px;
  border-bottom: 1px solid rgb(126, 126, 126);
  max-width: 500px;
  margin-bottom: 20px;
}


/* ===========================================
 loading animations
 =========================================== */

 @keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}