/* ===========================================
  Imports & main moddif
  =========================================== */

  @import "common/header.css";
  @import "common/footer.css";
  @import "common/theme.css";

  body {
    overflow: hidden;
}

header {
  position: static;
}

  /* ===========================================
  Left side
  =========================================== */

a {
  color: var(--text);
}

.wiki-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.wiki-left {
  background-color: var(--dark);
  padding: 20px 0px 0px 20px;
  min-width: 205px;
  overflow-y: scroll;
  width: 18%;
}

.wiki-left a {
  font-family: Archivo, sans-serif;
  font-size: 20px;
}

.wiki-left li {
  padding: 5px 0px;
  list-style: none;
}

.left-title {
  font-size: 30px;
  padding-top: 20px;
}

/* Sublist */

.left-sublist {
  padding-left: 20px;
}

.left-item {
  transition: padding 0.2s linear;
}

.wiki-left a::before {
  content: " ⁍ ";
  padding-right: 5px;
  text-decoration:none;
  display:inline-block;
}

/* Hover */
.left-item:hover {
  padding-left: 10px;
}


/* ===========================================
  wiki right
  =========================================== */
.right {
  width: 87%;
  overflow-y: scroll;
  max-height: 88vh;
}

  .wiki-right {
  padding-left: 20px;
  padding-bottom: 25px;
}

.text-wrapper {
  width: 95%;
}

.background {
  background-color: var(--dark);
}

p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 8px 0px;
}

/* Big section titles */

.title-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0px 0px 0px ;
  align-items: center;
}

.title-wrapper h2 {
  padding: 0px 20px;
  font-size: 45px;
}

.title-wrapper hr {
  width: 50px;
  height: 3px;
  background-color: var(--light);
  border: 1px;
}

.main-title {
  font-size: 39px;
  padding-top: 25px;
}

.download-button {
  padding: 10px 0px;
}

.subtitle {
  font-size: 26px;
  padding: 24px 0px 8px 0px;
}

.section-bar {
  padding-bottom: 20px;
  border-bottom: solid var(--light) 2px;
  margin-bottom: 20px;
}

/* ===========================================
  Scrollbars
  =========================================== */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}