/* ===========================================
  Main
  =========================================== */

header {
  width: 100%;
  background-color: var(--light);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  position: fixed;
}

.website-logo {
  font-family: CallingHeart;
  font-weight: 100;
  color: var(--text);
  font-size: 40px;
  margin-left: 0px;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  list-style: none;
  margin-right: 0px;
  margin-bottom: 10px;
}

.menu a:hover {
  background-color: #009FFF;
  color: #fff;
  padding: 9px 20px;
  border-radius: 10px;
}

.menu-item {
  color: var(--text);
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.website-logo2 {
  height: 60px;
  margin-left: 100px;
}

@media (min-width: 660px) { 
  header {
    flex-flow: row wrap;
    height: 60px;
  }

  .website-logo {
    margin-left: 100px;
    justify-content: space-between;
  }

  .menu {
    margin-right: 100px;
    margin-bottom: 0px;
  }
}